:root{
    --background-col:#1a191f;
    --background-modal-col:#06050a;
    --background-transparent-col:#1a191fd1;
    --text-white-col:#ffffff;
    --border-input-col:#8578c8;
    --text-yellow-col:#ffd80e;
    --border-green-col:#027404;
    --border-red-col:#e50e0e;
    --border-orange-col:#f3721c;
} 
